<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Getting Started | Jewelbots - The friendship-bracelet for the Smartphone era</title>
	<meta name="description" lang="en" content="Ignite their curiosity! Jewelbots - programmable friendship bracelets for the modern world." />
	<meta name="keywords" lang="en" content="jewelbots, wearables, friendship bracelet, nyc, tech, code, learn, open source, iphone, android" />

	<!--
	***********************************************************************************************************

		www.jewelbots.com
		v.6.1
                                _ _           _
           (♥) _____      _____| | |__   ___ | |_ ___
           | |/ _ \ \ /\ / / _ \ | '_ \ / _ \| __/ __|
           | |  __/\ V  V /  __/ | |_) | (_) | |_\__ \
          _/ |\___| \_/\_/ \___|_|_.__/ \___/ \__|___/
         |__/

	***********************************************************************************************************
	-->

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="15" />
	<meta name="google-site-verification" content="WkWMC2U0n_lT3U1t_-PhLM0CGoeS25ux-D6LGOwu8Fg" />

	<link rel="shortcut icon" href="favicon.ico" />

    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style-reset.css" }}" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style.css" }}" media="screen, projection" />

	<script src="//use.typekit.net/rbz5qur.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- MIXPANEL  ⬇ -->
	<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("9de67913ff56693e76306919cc0fe64e");</script><!--T:bf14c79a96fff9bd324e6bd6715347e8 // L:9de67913ff56693e76306919cc0fe64e -->
	<script type="text/javascript">
		//-- 1) track the page name
		var page_source = getUrlVars()["source"];
		function getUrlVars() {
		    var vars = {};
		    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		        vars[key] = value;
		    });
		    return vars;
		}
		mixpanel.track("PAGE", {"NAME": "www_jobs", "SOURCE": page_source });
	</script>
	<!-- MIXPANEL  ⬆ -->
	<!-- ZENDESK  ⬇ -->
	<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","jewelbots.zendesk.com");
	/*]]>*/</script>
	<!-- ZENDESK  ⬆ -->
	<!-- FACEBOOK - pixel  ⬇ -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '108847092786155');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=108847092786155&ev=PageView&noscript=1"
	/></noscript>
	<!-- FACEBOOK - pixel  ⬆ -->
</head>
<body>
	<div id="modal_newsletter">
		<div class="modal">
			<script>mixpanel.track_forms(".mixpanel_modal_newsletter", 	"NEWSLETTER", {"STEP": "submitted_email", "POSITION": "modal"});</script>
			<form method="post" action="/subscribe" id="subscribe" role="form" name="mc-embedded-subscribe-form" class="validate mixpanel_modal_newsletter">

				<a class="close" href="javascript:void();" onClick="modal_newsletter('close');">X</a>
				<h1>Sign up, then save!</h1>
				<p>Enter your email and <strong>enjoy $10 off</strong> your first order!</p>

				<div class="mc-field-group">
					<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="Enter your email!" onfocus="if(this.value==this.defaultValue)this.value=''; mixpanel.track('NEWSLETTER', {'STEP': 'typed_email', 'POSITION': 'modal'});" onBlur="if(this.value=='')this.value=this.defaultValue;">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_ccc4b9448a982cacc6429f42f_c5c8a04f03" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe + Save" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>

			</form>
		</div>
		<div class="background" onClick="modal_newsletter('close');"></div>
	</div><!--//modal_newsletter -->

	<div id="modal_video">
		<div class="wrapper">
			<a class="close" href="javascript:void();" onClick="modal_video('close');">X</a>
			<iframe id="modal_video_iframe" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="background" onClick="modal_video('close');"></div>
	</div><!--//modal_video -->

	<div id="site_container" class="go">
		<div id="content_container">

			<div class="section_header">
				<div class="header_default"><!-- //header_default //header_default_nav //header_sticky-->
					<a href="/index.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_home', 'POSITION': 'header'});">
						<img class="logo_icon_small" src="assets/images/index_section_header__icon_small.png" />
						<img class="logo_icon_large" src="assets/images/index_section_header__icon_large.png" />
						<img class="logo_wordmark" src="assets/images/index_section_header__wordmark.png" />
					</a>
					<img class="logo_mobile" src="assets/images/index_section_header__icon_small.png" />
					<ul class="navigation">
						<li><a href="/go.html" target="_self">Getting Started</a></li>
						<li><a href="http://alpha.jewelbots.com" target="_self">Community</a></li>
						<li><a href="/contact.html" target="_self">Support</a></li>
					</ul>

					<a class="cta_preorder" href="javascript:void;" target="_self" onClick="scroll('#section_sale','70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_preorder', 'POSITION': 'header'});">Get Your Jewelbot</a>
					<a class="cta_newsletter" href="javascript:void;" onClick="modal_newsletter('open_overlay'); scroll('#section_sale','70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'header'});">Join</a>
					<a class="cta_preorder_counter" href="javascript:void;" target="_self" onClick="scroll('#section_sale','70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_preorder_counter', 'POSITION': 'header'});"><span class="description">Jewelbot Discounts Left:</span> <span class="number">27</span></a>
				</div><!--//header -->
			</div><!--//section_header -->

			<div class="section_hero">
				<h1>JEWELBOTS GETTING STARTED</h1>
				<p>Congratulations, you have a Jewelbot! Welcome to our community. Please follow this handy guide to getting your Jewelbot up and running. If at any time you get stuck or need a little more help, you can always email us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a></p>
				<div class="cta_join" onClick="javascript:scroll('.section_meet', '70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_learnmore_ambassador', 'POSITION': 'hero'});">Let's go!</div>
				<p class="small">
					To learn more please<br />
					scroll down.
					<img class="arrow" src="assets/images/site_section_hero__arrow_down.png" />
				</p>
				<div class="background"></div>
			</div><!--//section_hero -->

			<div class="section_meet">
				<h3>Meet your Jewelbot</h3>
				<p class="subheadline">These are the key parts that make up your Jewelbot:</p>
				<a class="specs" href="javascript:void;" onClick="javascript:go_section_specs('open'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_specs', 'POSITION': 'how'});">See full specifications</a>
				<img class="overview large" src="assets/images/go_section_meet__background_1_large.jpg" />
				<img class="overview medium" src="assets/images/go_section_meet__background_1_medium.jpg" />
				<img class="overview small" src="assets/images/go_section_meet__background_1_small.jpg" />
			</div><!--//section_meet -->

			<div class="section_specs" id="section_specs">
				<div class="left">
					<h4>Specifications</h4>
					<p class="note">* Final colors and specs may vary slightly.</p>

					<h5>What's Included</h5>
					<p>Every bracelet will ship with 2x color bands, 2x Jewelbots charms and a charging cable:</p>
					<!--<img class="band" src="assets/images/index_section_specs__band_1.png" />
					<img class="band" src="assets/images/index_section_specs__band_2.png" />
					<img class="band" src="assets/images/index_section_specs__band_3.png" />-->
					<img class="usb" src="assets/images/index_section_specs__usbcable.png" />

					<h5>Dimensions</h5>
					<p class="nopadding">32.5 x 32.5 x 14mm</p>

					<h5>Band</h5>
					<p class="nopadding">16mm wide and 230mm long</p>

					<h5>Sensors & Components</h5>
					<ul>
						<li><span>•</span>Vibration motor</li>
						<li><span>•</span>4x LEDs, 16.7m colors</li>
						<li><span>•</span>Bluetooth 4.1</li>
					</ul>

					<h5>Batteries & Power</h5>
					<ul>
						<li><span>•</span>Battery life: up to 1-2 days</li>
						<li><span>•</span>Battery type: Lithium-polymer</li>
						<li><span>•</span>Charge time: 3-4 hours</li>
					</ul>

					<h5>Environmental Requirements</h5>
					<ul>
						<li><span>•</span>Operating temperature: 14° to 113° F</li>
					</ul>
				</div><!--//left -->
				<div class="right">
					<h5>Materials</h5>
					<ul>
						<li><span>•</span>Nylon Band</li>
						<li><span>•</span>Plastic Casing</li>
					</ul>

					<h5>Care</h5>
					<p>The Jewelbot nylon band can be washed by hand. The charms should be wiped with a wet cloth. The cases should only be wiped with a dry cloth.</p>

					<h5>Water Resistance</h5>
					<p>Jewelbots are splash resistant. Do not bath, shower or swim with your Jewelbot on.</p>

					<h5>Syncing & Bluetooth</h5>
					<p class="nopadding">Jewelbots sync wirelessly to tablets, iOS and Android smartphones using Bluetooth 4.0+ wireless technology.</p>
					<ul>
						<li><span>•</span>Syncing range: 20 feet</li>
						<li><span>•</span>Syncing to desktop computers requires a USB connection</li>
						<li><span>•</span>Syncing to mobile devices require Bluetooth 4.0+</li>
						<li><span>•</span>Syncs with iPhone 4S and later, iPad 3 gen. and later, and leading Android devices</li>
						<li><span>•</span>For Mac and Windows, we allow you to add code to your Jewelbot</li>
					</ul>
				</div><!--//right -->
				<img class="product" src="assets/images/index_section_specs__exploded.jpg" />
				<div class="clear"></div>
			</div><!--//section_specs -->

			<div class="section_instructions">
				<h3 class="headline">What do I do first?</h3>
				<div class="instruction_container">
					<div class="topic topic_active">
						<h2>Charge your Jewelbot.</h2>
						<!--<p></p>-->
					</div>
					<div class="instructions answer_active" style="display: block;">
						<div class="copy">
							<h3><span></span>Before doing anything, you need to charge your Jewelbot.</h3>

							<h3><span>1. </span>Lift the charm to reveal micro USB opening</h3>

							<h3><span>2. </span>Plug your Jewelbot into a power source using a USB cord</h3>

							<h3><span>3. </span>Press the Magic Button of your Jewelbot</h3>
								<p>If you are charging your Jewelbot when it is completely dead, this step is unecessary. Your Jewelbot will turn on automatically with a rainbow animation and then a red notification light.</p>
								<p>If not, then make sure your Jewelbot is on when charging in order to get the red notificaiton light.</p>

							<h3>Full charge: 2 hours. Minimum charge: 5 minutes.</h3>
							  <p>Jewelbot can be turned on after charging for 5 minutes, but keep it plugged in and allow it to charge for longer. Just like a phone, the longer it’s charging the longer you will be able to use it.</p>

							<h3>Now move on to instructions for updating your firmware! </h3>
							<p>This is necessary in order for your Jewelbots to have the most recent version of our software!</p>
						</div><!--//copy -->
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/bGhUdu-akh0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div><!--//video -->
						<div class="clear"></div>
						<div class="hr dashed"></div>
					</div><!--//instructions -->
				</div><!--// CHARGE instruction_container -->

				<div class="instruction_container">
					<div class="topic">
						<h2>How do I update my Jewelbots' firmware?</h2>
						<!--<p></p>-->
					</div>

					<div class="instructions">
						<div class="copy">

							<p>You have to update your firmware for your Jewelbot.</p>

							<p>Firmware is the code that lives on your Jewelbot. Anytime there is a new update available, you’ll need to update your firmware! We encourage you to always keep your Jewelbot updated, so you can have minimal bugs and the newest features!</p>

							<h3><span>1. </span>Install the Arduino Software (IDE)</h3>
								<p>a. <a href="https://www.arduino.cc/en/Guide/Windows" target="_blank">Windows</a>
								<br>b. <a href="https://www.arduino.cc/en/Guide/MacOSX" target="_blank">Mac OS X</a>
								<br>c. <a href="https://www.arduino.cc/en/Guide/Linux" target="_blank">Linux</a></p>
								<p>Ardunio Software (IDE) is a program that allows you to code your Jewelbot on your computer! </p>

							<h3><span>1a. </span> LINUX USERS ONLY STEP</h3>
								<p>You may not have access to the USB port. You need to be a member of the "dialout" group. Add yourself via the command prompt. </p>
								<p>ONLY tested for Ubuntu 16.04 LTS - should possibly work for recent Ubuntu versions though.</p>
								<p>a. First check if you are a member of that group:
										<br>		groups ${USER}
										<br>This will list all the groups you belong to.
								<br>b. If you don't belong to the dialout grup then add yourself to it, for example:
										<br>		sudo gpasswd --add ${USER} dialout
								<br>c. You then need to log out and log back in to your computer again for it to be effective.

								</p>

							<h3><span>2. </span>Open the Arduino preferences</h3>
								<p><b>a. Windows</b> File > Preferences
								<br><b>b. Mac OS</b> Arduino > Preferences</p>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab1.jpg" />

							<h3><span>3. </span>Find the box for "Additional Boards Manager URL"</h3>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab2.png" />

							<h3><span>4. </span>Copy and paste the following into the box:</h3>
								<p> https://jewelbots.github.io/arduino-library/package_jewelbots_index.json,https://jewelbots.github.io/arduino-firmware/package_jewelbots_firmware_index.json</p>
							<h3><span>5. </span>Click "okay".</h3>

							<h3><span>6.</span> Restart your Arduino IDE </h3>
								<p>(close it and reopen the program)</p>

							<h3><span>7.</span> From the Tools menu, scroll over <i>"Board:"</i> and then select <i>"Boards Manager"</i>.</h3>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab3.jpg" />

							<h3><span>8. </span> Type in "j" in the "Filter your search" box to quickly find the Jewelbots Boards</h3>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab4.png" />

							<h3><span>9. </span> Click anywhere in the box for "Jewelbots Firmware Update" to display the "Install" button.</h3>
								<p>a. While you are here, you can also install the "Jewelbots Arduino Library" and be ready to code your Jewelbot after updating your firmware!</p>

							<h3><span>10. </span> Click on the "Install" button to download.</h3>

							<h3><span>11. </span> Restart your Arduino IDE once more.</h3>

							<h3><span>12. </span> Hit the "New" button for a blank Arduino Sketch.</h3>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab5.png" />

							<h3><span>13. </span>Go to the Tools menu again, scroll over <i>"Board:"</i> and select <i>"Jewelbots Firmware Update"</i>.</h3>
								<p>It will most likely appeart at the bottom of the menu of Boards.</p>

							<h3><span>14. </span> Go to the Tools menu and select the correct port for the Jewelbot. It is easiest if the Jewelbot is the only USB device plugged into the computer.	</h3>
								<p><b>a. Windows:</b> Select the correct COM XX port
									<img class="screengrab" src="assets/images/go_section_instruction_screengrab6a.png" />
								<br><b>b. Mac:</b> Select the correct /dev/cu.usberial-XXXXXX</p>
									<img class="screengrab" src="assets/images/go_section_instruction_screengrab6b.png" />

							<h3><span>15. </span> Press and hold the Magic Button for 2 seconds while your Jewelbot is plugged in	to put your Jewelbot into Upload Mode.</h3>
					  			<p>Note that the charging light (red or green) will turn off. Also, remember it's 2 full seconds (1 mississippi...) </p>

							<h3><span>16. </span>Press the “Upload” button to load the new firmware onto your Jewelbot. </h3>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab7.jpg" />
							<h3><span>17. </span>During the update, in the Arduino output window (the black space), orange text will be displayed. When completed, it will show “Device Programmed”.</h3>
								<p> The Jewelbot will reboot and display the rainbow animation.
									<br> Note: For Mac OS users, it will say “failed to execute script --main--”. Ignore that. </p>

							<h3><span>18. </span>Now your Jewelbot is fully updated! Congrats! </h3>

							<p></p>
							<h3>FUTURE FIRMWARE UPDATE STEPS</h3>
								<p>If you wish to update your firmware AGAIN, there is one extra step! </p>
								<p>It is important to update firmware. This ensures that any changes we make to the Jewelbot library are added to your Jewelbot! </p>

								<p><span>1. </span> From the Tools menu, scroll over "Board:" and then select "Boards Manager".
								<br><span>2. </span> Type in "j" in the "Filter your search" box to quickly find the Jewelbots Boards.
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab4.png" />
								<br><span>3. </span> Click anywhere in the box for "Jewelbots Firmware Update" to display the "Remove" button.
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab9.jpg" />

								<br><span>4. </span>  Click "yes" to remove the board.
								<br><span>5. </span>  Click anywhere in the box "Jewelbots Firmware Update"to display the "Install" button again.
								<br><span>6. </span>  Click "yes" to install the board.
								<br><span>7. </span>  Continue to "step 11" of the "How do I update my Jewelbots' Firmware?".
								</p>
								<p> You will have to do this every time you want to update your firmware again. It is super important to update your firmware! It makes sure you have the least amount of bugs to encounter and the most recent features available!</p>
						</div><!--//copy -->
						<div class="video">

						</div><!--//video -->
						<div class="clear"></div>
						<div class="hr dashed"></div>
					</div><!--//instructions -->
				</div><!--// FIMRWARE instruction_container -->


				<div class="instruction_container">
					<div class="topic">
						<h2>How to pair your Jewelbot with a friend?</h2>
						<!--<p></p>-->
					</div>
					<div class="instructions">
						<div class="copy">
							<p>Pairing your Jewelbot with a friend can happen completely out of the box without a computer or phone!  </p>
							<h3><span>1. </span>Turn on your Jewelbot by pressing the Magic Button</h3>
						  	<p>It should light in rainbow animation mode and vibrate to show it turning on.  </p>

							<h3><span>2. </span>Put your device in Pairing Mode by holding down the Magic button for 3 seconds</h3>
								<p>It should light up with all white LEDs (LEDs are lights!). Also, remember it's 3 full seconds (1 mississippi...2 mississippi...)! </p>

							<h3><span>3. </span>Have a friend’s jewelbots within two feet of you also in Pairing Mode.</h3>
								<p> When both devices have found each other in pairing mode, they will start cycling through single colors.</p>

							<h3><span>4. </span>Choose a Friendship Color! Make each friend unique by picking different colors.</h3>
								<p>The Jewelbot will cycle through 4 colors that are your Friendship Color options.</p>

							<h3><span>5. </span>Push the Magic Button when your Friendship Color shows up in the cycle.</h3>
								<p>Must select the same color to be correctly paired. Restart from step 2 if an error occurs.</p>

						</div><!--//copy -->
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/pQFnPt3i_Bk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div><!--//video -->
						<div class="clear"></div>
						<div class="hr dashed"></div>
					</div><!--//instructions -->
				</div><!--// PAIR instruction_container -->

				<div class="instruction_container">
					<div class="topic">
						<h2>How to send Secret Messages?</h2>
						<!--<p></p>-->
					</div>
					<div class="instructions">
						<div class="copy">
							<p>It’s fun to send secret messages to your friends with Jewelbots! Make sure you pair up with your friends in order to messsage with them. Refer to the “How to pair your Jewelbot” section.
</p>
							<h3><span>1. </span>Turn on your Jewelbot by pressing the Magic Button</h3>
								<p>It should light up in rainbow animation mode to show it turning on.</p>

							<h3><span>2. </span>Put your Jewelbot in Messaging Mode by pressing the Magic Button again.</h3>
								<p>Your device should start cycling through the "Friendship Colors" that are nearby. Your paired friends are each represented by their own unique color.</p>

							<h3><span>3. </span>When you see the color of the friend you want to message, press the magic button</h3>
								<p>This means the message will be sent to the friend who you paired with in one of the 4 colors.</p>

							<h3><span>4. </span>Press the Magic Button to send vibration taps to your friends!</h3>
								<p>You can send different types of vibrations! Press and hold for 1 second to send a short tap or press and hold for 3 seconds to send a long tap. Only you and your friend will know the true meaning of a long or short tap!</p>

							<h3><span>5. </span>To send another message, start from step one each time.</h3>

						</div><!--//copy -->
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/cxUZdo2bC-4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div><!--//video -->
						<div class="clear"></div>
						<div class="hr dashed"></div>
					</div><!--//instructions -->
				</div><!--// MESSAGE instruction_container -->

				<div class="instruction_container">
					<div class="topic">
						<h2>How to change Charms and Bands?</h2>
						<!--<p></p>-->
					</div>
					<div class="instructions">
						<div class="copy">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/0WjzeV2JxKY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div><!--//copy -->
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/SDs1ZIQUu8k?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div><!--//video -->
						<div class="clear"></div>
						<div class="hr dashed"></div>
					</div><!--//instructions -->
				</div><!--// BAND/CHARM instruction_container -->


			<div class="instruction_container">
				<div class="topic">
					<h2>How to code your Jewelbot?</h2>
					<!--<p></p>-->
				</div>
				<div class="instructions">
					<div class="copy">
						<p>Before coding, make sure you update your firmware first!!! This is to ensure minimal bugs and gives you the newest features. Please refer to the "How to update your Firmware" section.</p>
						<h3><span>1. </span>Install the Arduino Software (IDE)</h3>
							<p>a. <a href="https://www.arduino.cc/en/Guide/Windows" target="_blank">Windows</a>
							<br>b. <a href="https://www.arduino.cc/en/Guide/MacOSX" target="_blank">Mac OS X</a>
							<br>c. <a href="https://www.arduino.cc/en/Guide/Linux" target="_blank">Linux</a></p>
							<p>Ardunio Software (IDE) is a program that allows you to code your Jewelbot on your computer! </p>

						<h3><span>1a. </span> LINUX USERS ONLY STEP</h3>
							<p>You may not have access to the USB port. You need to be a member of the "dialout" group. Add yourself via the command prompt. </p>
							<p>ONLY tested for Ubuntu 16.04 LTS - should possibly work for recent Ubuntu versions though.</p>
							<p>a. First check if you are a member of that group:
									<br>		groups ${USER}
									<br>This will list all the groups you belong to.
							<br>b. If you don't belong to the dialout grup then add yourself to it, for example:
									<br>		sudo gpasswd --add ${USER} dialout
							<br>c. You then need to log out and log back in to your computer again for it to be effective.
						</p>
						<h3><span>2. </span>Add the Jewelbot Board to your Arduino IDE</h3>
							<p>If you already instsalled both of the two Jewelbot boards when updating firmware, then you can skip to step 3. </p>
							<p>
							    	a. From the menu, click "preferences".
								<br>b. Find the "Additional Boards Manager URL" and add the following: https://jewelbots.github.io/arduino-library/package_jewelbots_index.json,https://jewelbots.github.io/arduino-firmware/package_jewelbots_firmware_index.json </li>
								<br>c. Click "Okay" and restart your Arduino IDE.
								<br>d. From the Tools menu, scroll over "board:" and then select "Boards Manager".
								<br>e. Find the "Jewelbots Arduino Library" and click to install it.

								<img class="screengrab" src="assets/images/go_section_instruction_screengrab4.png" />

								<br>f. Restart your Arduino IDE once more.
								<br>g. Go to the Tools menu again, scroll over "Board:" and select "JWB nRF51822(V1.0 32KB)"
						</p>
						<h3><span>3. </span>Plug in your Jewelbot to your computer</h3>
							<p> Lift the charm up to reveal the micro USB port and use your USB cable to connect the Jewelbot to your computer</p>

						<h3><span>4. </span> Go to the Tools menu and select the correct port for the Jewelbot. 	</h3>
							<p><b>a. Windows:</b> Select the correct COM XX port
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab6a.png" />
							<br><b>b. Mac:</b> Select the correct /dev/cu.usberial-XXXXXX</p>
								<img class="screengrab" src="assets/images/go_section_instruction_screengrab6b.png" />

							<h3><span>6. </span>Now you can code on your Jewelbot! Try out this sample test code.</h3>
							<p> Copy and paste the sample test code into the Arduino IDE as a new sketch.</p>

									<p>This makes one of the LEDs on your Jewelbot turn blue:</p>
									<p class="code">
										<em>
											#include "Arduino.h"<br />
											void setup() {<br />
											 // put your setup code here, to run once:<br />
														}<br /><br />

											void loop() {<br />
											 // put your main code here, to run repeatedly:<br />
											LED led;<br />
											led.on(1, "blue", 1000);<br />
											}<br />
										</em>
									</p>

					<h3><span>7. </span>Before uploading the code, put your Jewelbot into Upload Mode by plugging in the USB and holding the Magic Button down for two seconds. </h3>
						<p>Remember, two full seconds (1 mississippi...)</p>
						<p>Either the charging light will go out (if you did not update your firmware yet) or your device will flash purple and then fade to indicate that coding mode is activated (if you updated your firmware).</p>

					<h3><span>8. </span> Once the code is uploaded onto your Jewelbot, unplug it to see the results!! </h3>
						<p>The act of your Jewelbot running your code is it being in Coding Mode! (Isn't that cool?!) </p>

					<h3><span>9. </span>	Test out more code combinations by changing the variables in the “led.on(int, string, time)” method!</h3>
							<p> The int section can be from 0-3, basic
									colors are available, and time is in milliseconds.
							</p>

 					<h3><span>10. </span> Learn more about coding your Jewelbot here on the <a href="http://alpha.jewelbots.com/" target="_blank">forums!</a></h3>

					<p></p>
					<p></p>
					<h3>FUTURE FIRMWARE UPDATE STEPS</h3>
						<p>If you wish to update your firmware AGAIN, there is one extra step! </p>
						<p>It is important to update firmware. This ensures that any changes we make to the Jewelbot library are added to your Jewelbot! </p>

						<p><span>1. </span> From the Tools menu, scroll over "Board:" and then select "Boards Manager".
						<br><span>2. </span> Type in "j" in the "Filter your search" box to quickly find the Jewelbots Boards.
						<img class="screengrab" src="assets/images/go_section_instruction_screengrab4.png" />
						<br><span>3. </span> Click anywhere in the box for "Jewelbots Firmware Update" to display the "Remove" button.
						<img class="screengrab" src="assets/images/go_section_instruction_screengrab9.jpg" />

						<br><span>4. </span>  Click "yes" to remove the board.
						<br><span>5. </span>  Click anywhere in the box "Jewelbots Firmware Update"to display the "Install" button again.
						<br><span>6. </span>  Click "yes" to install the board.
						<br><span>7. </span>  Continue to "step 11" of the "How do I update my Jewelbots' Firmware?".
						</p>
						<p> You will have to do this every time you want to update your firmware again. It is super important to update your firmware! It makes sure you have the least amount of bugs to encounter and the most recent features available!</p>
					</div><!--//copy -->
					<div class="video">
					</div><!--//video -->
					<div class="clear"></div>
					<div class="hr dashed"></div>
				</div><!--//instructions -->
			</div><!--// CODE instruction_container -->
		</div><!--//section_instructions -->


			<div class="section_forum">
				<div class="copy">
					<h3>Visit Our Forum</h3>
					<p>
						Need help getting started? Have questions about your Jewelbot? Want to share some findings? Be sure and to check out our community forum!
					</p>

					<a class="cta_preorder" href="http://www.jewelbots.com/forum" target="_blank">Visit Our Forum</a>
				</div><!--//copy -->
			</div><!--//section_app -->

			<div class="section_app">
				<div class="copy">
					<h3>Download the Jewelbots App</h3>
					<p>
						Coming Soon! The Jewelbots App. Download the free Jewelbots app for iPhone and Android and add your friends create color groups and set up notifications for yourself. You don’t need the app to play with your Jewelbots, it’s just another fun way to engage! Be sure to sign up for our email list so you know when it’s ready!<br /><br />
					</p>

					<!--<div class="cta_preorder">Get The Jewelbots App</div>-->

					<img class="icons" src="assets/images/go_section_app__icons.png" />

					<img class="iphone_app" src="assets/images/go_section_app__iphone.png" />
					<img class="iphone_app_gif" src="assets/images/go_section_app__iphone_gif.gif" />
				</div><!--//copy -->
			</div><!--//section_app -->

			<div class="section_newsletter">
				<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
				<h3>Never miss an Update or Coding Tutorial! <br /> Subscribe to our Newsletter:</h3>
				<script>mixpanel.track_forms(".mixpanel_section_newsletter", 	"NEWSLETTER", {"STEP": "submitted_email", "POSITION": "index_section"});</script>
				<form method="post" action="/subscribe" id="subscribe" role="form" name="mc-embedded-subscribe-form" class="validate mixpanel_section_newsletter">
					<div class="mc-field-group">
						<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="Leave your email!" onfocus="if(this.value==this.defaultValue)this.value=''; mixpanel.track('NEWSLETTER', {'STEP': 'typed_email', 'POSITION': 'index_section'});" onBlur="if(this.value=='')this.value=this.defaultValue;">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_ccc4b9448a982cacc6429f42f_c5c8a04f03" tabindex="-1" value=""></div>
					<input type="submit" value="+" name="subscribe" id="mc-embedded-subscribe" class="btn">
				</form>
			</div><!--//section_newsletter -->

			<div class="section_faqs">

				<h3>Questions and Answers</h3>
				<p class="subheadline">Please contact us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a> for more help.</p>
				<div><!-- BATTERY - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
					<h4 class="topic">Battery</h4>
					<div class="question_container">
						<h4 class="question">How do I charge my Jewelbot?</h4>
						<div class="answer">
							Turn on your Jewelbot. Lift charm up vertically while twisting slightly. Then plug micro USB into the available port on the Jewelbot. Afterwards, plug the USB on the other side of the cable into a power source.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How long should I charge my Jewelbot?</h4>
						<div class="answer">
							Approximately 2-3 hours if fully drained of battery.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How long does the battery last before I have to charge it again?</h4>
						<div class="answer">
							The Jewelbot can last about 10 hours if constantly on and in use before being charged again.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How will I know if my Jewelbot is charging or not?</h4>
						<div class="answer">
							Your Jewelbot has to be turned on when charging. If properly being charged, the Jewelbot will have a red light on.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How will I know if my Jewelbot is done charging?</h4>
						<div class="answer">
							When fully charged, the Jewelbot will have a green light when the battery is full.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">My Jewelbot is not charging! Why?!</h4>
						<div class="answer">
							Some suggestions to solve this would be:
							<ul>
							 	<li><span>•</span> Press the Magic Button briefly to make sure your Jewelbot is not in Sleep Mode. Your Jewelbot has to be on in order for it to show notification that it is charging.</li>
							  <li><span>•</span> Make sure you are using a high quality micro USB; preferably the one we sent with your original package!</li>
							  <li><span>•</span> Try connecting your Jewelbot to a high quality power source, such as directly to your computer rather than a external USB hub.</li>
							  <li><span>•</span> Try removing other USB accessories from your computer, and only having the Jewelbot plugged in.</li>
							</ul>
							If none of these help, please email us at hi@jewelbots.com
						</div>
					</div><!--//question_container -->
				</div>
				<div><!-- PAIRING - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
					<h4 class="topic">Pairing</h4>
					<div class="question_container">
						<h4 class="question">How do I know when my Jewelbot is in pairing mode?</h4>
						<div class="answer">
							Your device will flash white on all 4 LEDs if in pairing mode. If another device is detected nearby to also be in pairing mode, then both devices will start cycling between 4 colors. If there are no other Jewelbots around to pair with, hit the magic button again to turn off pairing mode.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Why is my Jewelbot not able to pair correctly with another Jewelbot?</h4>
						<div class="answer">
							When you press the magic button of your Jewelbots, it should flash white. If your device detects another Jewelbot in pairing mode nearby, then both will rotate between 4 colors. Pick an LED color to match the two Jewelbots by (it's okay if they are not chosen in sync). You press the magic button to choose the color. Now when the two Jewelbots are close to each other, they will always blink in that color. When they move apart, it should stop blinking that color.
							<br /><br />
							If you feel that you have paired them incorrectly, try repeating the pairing steps.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Do I need to have matching friendship colors with the Jewelbot I want to pair with?</h4>
						<div class="answer">
							Yes. Friendship features work based around color friend groups.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How far away can Jewelbots be from each other?</h4>
						<div class="answer">
							The Jewelbot is able to detect a friend within 30 - 50  feet from each other depending on surroundings. However, pairing must be done when the Jewelbots are within 2 feet of each other. Messaging mode requires a strong connection and works best the closer the Jewelbots are to each other.
						</div>
					</div><!--//question_container -->
				</div>
				<div><!-- MESSAGING - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -->
					<h4 class="topic">Messaging</h4>
					<div class="question_container">
						<h4 class="question">How long of a message can I send to another Jewelbot?</h4>
						<div class="answer">
							A Jewelbot message can contain up to 16 buzzes of either short or longs.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How long should I wait before sending another message to another Jewelbot?</h4>
						<div class="answer">
							You don’t have to wait, just keep sending them! You do have to enter messaging mode and select your friend color group each time before sending a new message though.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Why is there a delay in messages being sent to my Jewelbot or my friend’s Jewelbot?</h4>
						<div class="answer">
							Depending on how far away the Jewelbots are from each other, there might be a delay in receiving messages. If too far away, the message might not even be sent entirely.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Why isn’t my Jewelbot sending/receiving messages?</h4>
						<div class="answer">
							This may be because it is not properly paired with whoever is trying to send you a message.
							<br /><br />
							Your Jewelbot may be too far away from whoever is trying to message you has moved out of range, or lost connection signal. Try turning your Jewelbot on and off.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Why is my Jewelbot receiving messages when I wasn’t sent one?</h4>
						<div class="answer">
							If your Jewelbot was sent a message when a friend was in range to you, but you became out of range or lost signal before the message was sent then you might have received that message when your Jewelbot becomes in range or gains signal again.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How come my Jewelbot only cycles through one or two colors even though I have more friendship color groups than that?</h4>
						<div class="answer">
							When in messaging mode, the Jewelbot will only cycle through friendship color groups nearby you. (i.e. if only red and green friends are nearby, then it will only cycle between red and green for you to choose from).
						</div>
					</div><!--//question_container -->
				</div>
				<div><!-- GENERAL - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
					<h4 class="topic">General</h4>
					<div class="question_container">
						<h4 class="question">Why does my Jewelbot light up randomly?</h4>
						<div class="answer">
							Your Jewelbot might appear to light up randomly depending on the interaction you have with your friends’ and their Jewelbots.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">What does the rainbow animation lights mean?</h4>
						<div class="answer">
							The rainbow animation lights happen to show when your Jewelbot is turning on. Half a rainbow animation with a fading out effect happens to show your Jewelbot is turning off.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How should I clean my Jewelbot?</h4>
						<div class="answer">
							Take the charm and band off of the Jewelbot hardware piece. Soak the band and charm in some warm water and dish soap, then scrub it gently with a soft brush or towel.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Is my Jewelbot waterproof?</h4>
						<div class="answer">
							Jewelbot devices are water resistant, but not waterproof. This means that it can handle being spilt on or splashed on, but should not be completely submerged in water.
							<br /><br />
							For example, Jewelbots can be okay in the rain, but it is suggested that it be avoided or dried after. On the other hand, the Jewelbot device should not be worn in the shower or pool. Water damage is not covered under warranty.

						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">Where are the Jewelbots for boys?</h4>
						<div class="answer">
							Although our device is aimed towards girls, our charm and band combinations are not targeted towards a specific gender. Boys are welcome to enjoy and wear the existing designs!
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">How do I turn off my Jewelbot?</h4>
						<div class="answer">
							Press the magic button for 5 seconds then let go. You should see a rainbow animation of lights that fade out.
						</div>
					</div><!--//question_container -->
					<div class="question_container">
						<h4 class="question">None of these questions are ones that I have</h4>
						<div class="answer">
							Please contact us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a> for more help.
						</div>
					</div><!--//question_container -->
				</div>
				<!--<div class="folder">
					<h4 class="topic">Something Something</h4>
					<!- - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - ->
					<div class="question_container">
						<h4 class="question">What features do Jewelbots have out of the box?</h4>
						<div class="answer">
							Jewelbots do not require internet service or a cell phone. Out of the box kids can connect with up to 8 different friends, see when they are nearby and send each other secret messages. With access to a computer or smart-phone (Apple/Android) kids can create multiple friend groups and add additional functionality through the power of code.
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">What is the perfect age for Jewelbots?</h4>
						<div class="answer">
							Good question! We have tested Jewelbots with kids aged 5 and up. The out of the box functionality - paired with the ability to work without a phone - makes Jewelbots ideal for younger kids. To use some of the more advanced mods and features we recommend that your kid is between 8-13 years old. But then again, with some help, even younger kids can use Jewelbots. This being said, there really is no limit on the other end of the spectrum; we are seeing parents, and for that matter grandparents of our Alpha testers getting their own Jewelbots ;-)
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">How do Jewelbot’s advanced features work?</h4>
						<div class="answer">
							 Out of the box kids can make their bracelets light up when a friend is nearby or send messages to a buddy across the room. They can come up with their own functionality and program their Jewelbot to behave in lots of cool ways!
							<br /><br />
							Jewelbots are also open source, so for the curious tinkerer, they offer the perfect platform to explore what is possible with wearable technology communication. Using the Arduino IDE, girls can literally make the bracelets do whatever they dream up. Light up when they get a call on their phone, why not?
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">Do I need a phone/computer?</h4>
						<div class="answer">
							No! However to use the more advanced features such as friend groups and special mods you need to either download the Jewelbots App or connect your Jewelbot to a computer (via USB).
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">2, 3, 4… – how many friends can you have?</h4>
						<div class="answer">
							Out of the box: 4 / after connecting your Jewelbot to your phone you can manage 8 friend groups with up to 16 friends.
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">What devices and operating systems does Jewelbot support?</h4>
						<div class="answer">
							We currently support Apple iPads, iPhone and Android devices. For Mac and Windows, we allow you to add code to your Jewelbot.
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">Details? Give me all the technical specs!</h4>
						<div class="answer">
							Here you go: <a class="specs" href="javascript:void;" onClick="javascript:index_section_specs('open'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_specs', 'POSITION': 'how'}); javascript:scroll('#section_specs', '70');">See full specifications</a>
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">Are Jewelbots safe?</h4>
						<div class="answer">
							<img src="assets/images/index_section_meet__spy_2.png" width="100" /><br /><br />
							We are making a product for kids, and their safety is our number one priority. Jewelbots don’t contain a GPS and we don’t store any personal data of any kind.
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">How does the Jewelbot mobile App work?</h4>
						<div class="answer">
							Using basic if/then statements, girls begin to learn the fundamentals of computer science while engaging with their friends and expressing themselves. They can create friend-groups and decide how their Jewelbot lights up and vibrates when they are together. Once they get a hang of it, they can use the app to write little mods and take their skills further:
							<br /><br />
							<strong>Instagram Mod:</strong> light up when you get an new like<br />
							<strong>Twitter Mod:</strong> vibrate when you get a new follower<br />
							<strong>Facebook Mod:</strong> flash when you get a message from your parents
							<br /><br />
							…the mod possibilities are endless.<br />
							And of course – Jewelbots basic functions can be used without a phone.
						</div>
					</div><!- -//question_container - ->
					<div class="question_container">
						<h4 class="question">My kid can code, what's next?</h4>
						<div class="answer">
							Jewelbots are also open source, so for the curious tinkerer, they offer the perfect platform to explore what is possible with wearable technology communication. Using the Arduino IDE, kids can literally make the bracelets do whatever they dream up. Light up when they get a call on their phone, why not?
							<br /><br />
							Arduino is an open-source electronics platform based on easy-to-use hardware and software. It's intended for anyone making interactive projects.
							<br /><br />
							So yes, there are really no limits to what you can do with Jewelbots. Use them as a button to interact with another bluetooth device? Why not!
							<br /><br />
							<img src="assets/images/index_section_code__master.jpg" width="320" />
						</div>
					</div><!- -//question_container - ->
					<!- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - ->
				</div><!- -//folder - ->
				<a class="more" href="javascript:void(0);">More Answers</a>-->
			</div><!--//section_faqs -->

			<div class="section_footer">
				<div class="section_newsletter">
					<p>$10 off you first order for all subscribers!</p>
					<h3>Subscribe to be first to hear about special offers and product updates:</h3>
					<script>mixpanel.track_forms(".mixpanel_section_newsletter", 	"NEWSLETTER", {"STEP": "submitted_email", "POSITION": "index_section"});</script>
					<form method="post" action="/subscribe" id="subscribe" role="form" name="mc-embedded-subscribe-form" class="validate mixpanel_section_newsletter">
						<div class="mc-field-group">
							<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="Leave your email!" onfocus="if(this.value==this.defaultValue)this.value=''; mixpanel.track('NEWSLETTER', {'STEP': 'typed_email', 'POSITION': 'index_section'});" onBlur="if(this.value=='')this.value=this.defaultValue;">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_ccc4b9448a982cacc6429f42f_c5c8a04f03" tabindex="-1" value=""></div>
						<input type="submit" value="+" name="subscribe" id="mc-embedded-subscribe" class="btn">
					</form>
				</div><!--//section_newsletter -->
				<img class="logo" src="assets/images/site_section_footer__logo.png" />
				<ul class="navigation">
					<!--<li><a href="/faqs.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_faqs', 'POSITION': 'footer'});">Help</a></li>-->
					<li><a href="/about.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_about', 'POSITION': 'footer'});">Story</a></li>
					<!--<<li><a href="/team.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_team', 'POSITION': 'footer'});">Team</a></li>-->
					<li><a href="http://jewelbots.tumblr.com/" target="_blank" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_blog', 'POSITION': 'footer'});">Blog</a></li>
					<li><a class="active" href="/jobs.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_jobs', 'POSITION': 'footer'});">Jobs</a></li>
					<li><a href="/intro-to-wearables-kit.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_introwk', 'POSITION': 'footer'});">Wearables</a></li>
					<li><a href="/become-an-ambassador.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_ambassador', 'POSITION': 'footer'});">Ambassador</a></li>
					<!--<<li><a href="/media_kit.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_mediakit', 'POSITION': 'footer'});">Media Kit</a></li>-->
					<li><a href="/privacy.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_privacy', 'POSITION': 'footer'});">Privacy</a></li>
					<!--<<li><a href="/terms.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_terms', 'POSITION': 'footer'});">Terms</a></li><br />-->
					<li><a href="/contact.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_contact', 'POSITION': 'footer'});">Contact</a></li>
				</ul>
				<p class="address">
					50 Eldridge Street, 5th Floor, New York, NY 10002<br />
					<a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a><br />
					(862) 201-3065<br />
				</p>
				<p class="credits">
					Jewelbots © 2017 &nbsp; | &nbsp; Made with love in NYC &nbsp; | &nbsp; Changing the world one Jewelbot at a time
				</p>
				<a class="mxp-interaction_action_clicked_section_footer_mxp" href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
			</div><!--//section_footer -->

		</div><!--//content_container -->
	</div><!--//site_container -->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$(window).resize(); //-- and force
		});

		$(window).scroll(function(){
			header();
			$(window).resize(); //-- and force
		});

		$(window).resize(function(){
			size_instruction_videos();
		});

		$(window).bind('orientationchange', function(event) {

			$(window).resize(); //-- and force
		});


		//--------------------------------------------------------------------------------------//
		//
		//
		//-- scroll(id, shift) ------------------------------------//
		function scroll(id, shift){
			$('html,body').stop().animate({scrollTop: $(id).offset().top -shift}, 700);
		}
		//
		//
		//-- header(state) -------------------------------------------------------//
		function header(state){
			if($(window).width() > 768){
				if($(window).scrollTop() > 1){
					$('.go .header_default').addClass('header_sticky');
				} else {
					$('.go .header_default').removeClass('header_sticky');
				}
			} else {
				$('.go .header_default').addClass('header_sticky');
			}
		}
		$('.logo_mobile').click(function() {
			$('.header_sticky ul.navigation').stop(true, true).slideToggle( 'slow', function() { /* do nothing */ });
		});
		//
		//
		//-- modal_newsletter(state) ---------------------------------------------//
		function modal_newsletter(state){
			if(state=='open_overlay'){
				$('#content_container').addClass('blurred');

				$('#modal_newsletter').addClass('overlay');
				$('#modal_newsletter.overlay').stop().show().animate({'opacity':'1.0'}, 500, function() { /* do nothing */ });
			//	$('#modal_newsletter.overlay .modal').stop().show().animate({'top':'50%'}, 200, function() { /* do nothing */ });

				$('#modal_newsletter .modal .save').css('display', 'block' );
				$('#modal_newsletter .modal .news').css('display', 'none' );
			}
			if(state=='open_fixed'){
				$('#modal_newsletter').addClass('fixed');
				$('#modal_newsletter').stop().show().animate({'opacity':'1.0'}, 500, function() { /* do nothing */ });
			}
			if(state=='open_fixed_delay'){
				open_fixed_delay = 1;
			}
			if(state=='close'){
				$('#content_container').removeClass('blurred');

				$('#modal_newsletter .modal').stop().animate({'opacity':'0.0', 'top':'-50%'}, 500, function() {
					$('#modal_newsletter').stop().animate({'opacity':'0.0'}, 200, function() {
						$('#modal_newsletter').stop().hide();
						$('#modal_newsletter .modal').css('opacity', '1.0' );

						$('#modal_newsletter').removeClass('overlay');
						$('#modal_newsletter').removeClass('fixed');

						$('#modal_newsletter .modal .save').css('display', 'none' );
						$('#modal_newsletter .modal .news').css('display', 'none' );
					});
				});
			}
		}
		//
		//
		//-- modal_video(state) --------------------------------------------------//
		function modal_video(state){
			if(state=='open_jewelbotspromo'){
				$('#content_container').addClass('blurred');

				$('#modal_video').stop().show().animate({'opacity':'1.0'}, 500, function() { /* do nothing */ });

				//-- 1: load video
				(function(d){
					var modal_video_iframe = d.getElementById('modal_video_iframe');
					modal_video_iframe.src ='https://player.vimeo.com/video/155051675?autoplay=1&loop=0&title=0&byline=0&portrait=0';
				})(document);
				//-- 2: size video
				modal_video('size');
			}
			if(state=='open_billnyepromo'){
				$('#content_container').addClass('blurred');

				$('#modal_video').stop().show().animate({'opacity':'1.0'}, 500, function() { /* do nothing */ });

				//-- 1: load video
				(function(d){
					var modal_video_iframe = d.getElementById('modal_video_iframe');
					modal_video_iframe.src ='https://www.youtube.com/embed/XL7JzO4QjXw?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1';
				})(document);
				//-- 2: size video
				modal_video('size');
			}
			if(state=='size'){
				$('#modal_video .wrapper').css('height', $('#modal_video .wrapper').width() / 1.78 );

				if( $(window).width() / $(window).height() < 1.78 ){
					$('#modal_video').css('position', 'fixed' );
					$('#modal_video .wrapper').css('margin-top', ( $(window).height()-$('#modal_video .wrapper').height() ) / 2  );
				} else {
					$('#modal_video').css('position', 'absolute' );
					$('#modal_video .wrapper').css('margin-top', '50px' );
				}
			}
			if(state=='close'){
				$('#content_container').removeClass('blurred');

				$('#modal_video').stop().animate({'opacity':'0.0'}, 200, function() {
					$('#modal_video').stop().hide();
				});
				//-- 1: unload video
				(function(d){
					var modal_video_iframe = d.getElementById('modal_video_iframe');
					modal_video_iframe.src ='foo';
				})(document);
			}
		}
		//
		//
		//-- index_section_hero(state) -------------------------------------------//
		function index_section_hero(state){
			if(state=='playvideo'){
				//-- 1: load video
				(function(d){
					var hero_video_iframe = d.getElementById('hero_video_iframe');
					hero_video_iframe.src ='https://player.vimeo.com/video/153084824?autoplay=1&loop=1&color=ff0179&title=0&byline=0&portrait=0';
				})(document);
				//-- 2: size video
				if($(window).width() / $(window).height() < 1.78){
					$('.index .section_hero iframe').css('height', $(window).height() +0 );
					$('.index .section_hero iframe').css('width', ($(window).height() +0 )*1.78 );
				} else {
					$('.index .section_hero iframe').css('width', $(window).width() +0 );
					$('.index .section_hero iframe').css('height', ($(window).width() +0 )/1.78 );
				}
			}
		}
		//
		//
		//-- go_section_specs(action) --------------------------------------------//
		var section_specs = 'no';
		function go_section_specs(action){
			if(action=='open'){
				$('.go .section_specs').stop(true, true).slideToggle( 'slow', function() { /* do nothing */ });
				$('.go .section_meet a.specs').animate({ opacity: 0.0 }, 500, function() {
					$('.index .section_meet a.specs').css({'display': 'none'});
				});
				scroll('#section_specs', '70');
				section_specs = 'yes';
			}
		}
		//
		//
		//-- go_section_instruction(action) --------------------------------------//
		function size_instruction_videos(){
			//$('.instructions .video iframe').height( $('.instructions .video iframe').width()/1.78 );
			$('.instructions iframe').height( 360 );
		}
		$('.instruction_container .topic').click(function() {
			//-- 1 (if open)
			if( $(this).parent().children('.instructions').hasClass( "answer_active" ) ){
				$(this).parent().children('.instructions').removeClass("answer_active");
				$(this).parent().children('.instructions').stop(true, true).slideUp(600, function() {
					/* do nothing*/
				});
			} else {
				//-- 2 (close all)
				$(".topic_active").each(function(){
					$(this).removeClass("topic_active");
				});
				$(".answer_active").each(function(){
					$(this).removeClass("answer_active");
					$(this).stop(true, true).slideUp(600, function() {
						/* do nothing*/
					});
				});
				//-- 3 (and open the one in question)
				$(this).addClass("topic_active");
				$(this).parent().children('.instructions').addClass("answer_active");
				$(this).parent().children('.instructions').stop(true, true).slideDown(600, function() {
					size_instruction_videos();
					/* do nothing*/
				});
			}
		});
		//
		//
		//-- go_section_faqs(action) ---------------------------------------------//
		$('.section_faqs .more').click(function() {
			/* for all site's more buttons */

			//-- 1 (if open, change copy)
			if( $(this).hasClass("more_active") ){
				$(this).removeClass("more_active");
				$(this).parent().children('.folder').stop(true, true).slideUp(1000, function() {
					/* do nothing*/
				});
			} else {
				//-- 2 (open, change copy)
				$(this).addClass("more_active");
				$(this).css("display", "none");
				$(this).parent().children('.folder').stop(true, true).slideDown(1000, function() {
					/* do nothing*/

				});
			}
		});
		$('.section_faqs .question').click(function() {
			//-- 1 (if open)
			if( $(this).parent().children('.answer').hasClass( "answer_active" ) ){
				$(this).parent().children('.answer').removeClass("answer_active");
				$(this).parent().children('.answer').stop(true, true).slideUp(300, function() {
					/* do nothing*/
				});
			} else {
				//-- 2 (close all)
				$(".answer_active").each(function(){
					$(this).removeClass("answer_active");
					$(this).stop(true, true).slideUp(300, function() {
						/* do nothing*/
					});
				});
				//-- 3 (and open the one in question)
				$(this).parent().children('.answer').addClass("answer_active");
				$(this).parent().children('.answer').stop(true, true).slideDown(300, function() {
					/* do nothing*/
				});
			}
		});
		//
		//
		//-- index_section_code(state) -------------------------------------------//
		function index_section_code(state){
			if(state=='playvideo'){
				//-- 1: load video
				(function(d){
					var code_video_iframe = d.getElementById('code_video_iframe');
					code_video_iframe.src ='https://player.vimeo.com/video/172983545?autoplay=1&loop=1&title=0&byline=0&portrait=0';
				})(document);

			}
			if(state=='size'){
				//-- 2: size video
				if($(window).width() > 1024){
					$('.index .section_code').css('height', $('.index .section_code').width() /1.78 );
					$('.index .section_code #code_video_iframe').css('height', $('.index .section_code').width() /1.78 );
				} else {
					$('.index .section_code').css('height', 'auto' );
					$('.index .section_code #code_video_iframe').css('height', $('.index .section_code').width() /1.78 );
				}
			}
		}
	</script>
	<script type="text/javascript" src="assets/js/site-scripts-bd231 59802.js"></script>
	<!-- GOOGLE  ⬇ -->
	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62323216-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- GOOGLE  ⬆ -->
	<!-- RUN  ⬇ -->
	<script type="text/javascript">
		//modal_newsletter('open_overlay');
	</script>
	<!-- RUN  ⬆ -->
</body>
</html>
