<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Jewelbots | The friendship-bracelet for the Smartphone era</title>
	<meta name="description" lang="en" content="Ignite their curiosity! Jewelbots - programmable friendship bracelets for the modern world." />
	<meta name="keywords" lang="en" content="jewelbots, wearables, friendship bracelet, nyc, tech, code, learn, open source, iphone, android" />

	<!--
	***********************************************************************************************************

		www.jewelbots.com
		v.6.1
                                _ _           _
           (♥) _____      _____| | |__   ___ | |_ ___
           | |/ _ \ \ /\ / / _ \ | '_ \ / _ \| __/ __|
           | |  __/\ V  V /  __/ | |_) | (_) | |_\__ \
          _/ |\___| \_/\_/ \___|_|_.__/ \___/ \__|___/
         |__/

	***********************************************************************************************************
	-->

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="15" />
	<meta name="google-site-verification" content="WkWMC2U0n_lT3U1t_-PhLM0CGoeS25ux-D6LGOwu8Fg" />

	<link rel="shortcut icon" href="favicon.ico" />

    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style-reset.css" }}" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style.css" }}" media="screen, projection" />

	<script src="//use.typekit.net/rbz5qur.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- MIXPANEL  ⬇ -->
	</script>
	<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" "); for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
	</script>
	<!-- // T: bf14c79a96fff9bd324e6bd6715347e8 // L: 9de67913ff56693e76306919cc0fe64e -->
	<script>
	mixpanel.init("9de67913ff56693e76306919cc0fe64e", {
	    loaded: function() {
			
			//-- 1) track the page name
			var page_source = getUrlVars()["source"];
			function getUrlVars() {
			    var vars = {};
			    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			        vars[key] = value;
			    });
			    return vars;
			}
			mixpanel.track("PAGE", {"NAME": "www_home", "SOURCE": page_source });
			
			//-- 2) mention newsletter error
			if (page_source=="newsletter_error"){
				alert('Discount code: "Jewelbots10" - Something went wrong. You might be already subscribed. If not, please try again or contact us hi@jewelbots.com');
				mixpanel.track("NEWSLETTER", {"STEP": "error_email"});
			}
			
			//-- 3) mention newsletter success
			if (page_source=="newsletter_welcome"){
				//
				// track Newsletter - clicked_preorder
				mixpanel.track("NEWSLETTER", {"STEP": "clicked_preorder"});
			}

			//-- 4) export distinct_id and funnel for shopify --> opens an iframe and syncs user ID --> same iframe will be opened on final checkout and thus close the funnel
			var distinct_id = mixpanel.get_distinct_id();
			var iframe = document.createElement('iframe');
		    iframe.style.display = "none";
		    iframe.src = "https://jewelbots.myshopify.com/pages/mxp-tracking/?step=reached_products&distinct_id="+distinct_id;
		    document.body.appendChild(iframe);
	    }
	});
	</script>
	<!-- MIXPANEL  ⬆ -->
	<!-- ZENDESK  ⬇ -->
	<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","jewelbots.zendesk.com");
	/*]]>*/</script>
	<!-- ZENDESK  ⬆ -->
</head>
<body>
	<div id="modal_newsletter">
		<div class="modal">
			<script>mixpanel.track_forms(".mixpanel_modal_newsletter", 	"NEWSLETTER", {"STEP": "submitted_email", "POSITION": "modal"});</script>
			<form method="post" action="/subscribe" id="subscribe" role="form" name="mc-embedded-subscribe-form" class="validate mixpanel_modal_newsletter">

				<a class="close" href="javascript:void();" onClick="modal_newsletter('close');">X</a>
				<div class="save">
					<h1>Sign up, then save!</h1>
					<p>Enter your email and <strong>enjoy $10 off</strong> your first order!</p>
				</div>
				<div class="news">
					<h1>The Jewelbots Newsletter</h1>
					<p>Don't want to miss a thing? Leave your email for all the latest news around Jewelbots.</p>
				</div>

				<div class="mc-field-group">
					<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="Enter your email!" onfocus="if(this.value==this.defaultValue)this.value=''; mixpanel.track('NEWSLETTER', {'STEP': 'typed_email', 'POSITION': 'modal'});" onBlur="if(this.value=='')this.value=this.defaultValue;">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_ccc4b9448a982cacc6429f42f_c5c8a04f03" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>

			</form>
		</div>
		<div class="background" onClick="modal_newsletter('close');"></div>
	</div><!--//modal_newsletter -->

	<div id="modal_video">
		<div class="wrapper">
			<a class="close" href="javascript:void();" onClick="modal_video('close');">X</a>
			<iframe id="modal_video_iframe" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="background" onClick="modal_video('close');"></div>
	</div><!--//modal_video -->

	<div id="site_container" class="index">
		<div id="content_container">

			<div class="section_header">
				<div class="header_default"><!-- //header_default //header_default_nav //header_sticky-->
					<a href="/index.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_home', 'POSITION': 'header'});">
						<img class="logo_icon_small" src="assets/images/index_section_header__icon_small.png" />
						<img class="logo_icon_large" src="assets/images/index_section_header__icon_large.png" />
						<img class="logo_wordmark" src="assets/images/index_section_header__wordmark.png" />
					</a>
					<ul class="navigation">
						<li><a href="javascript:void;" onClick="scroll('#section_meet','70');" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_meet', 'POSITION': 'header'}); F4__scroll_to_ID('#section_sale','90');">Jewelbots</a></li>
						<li><a href="javascript:void;" onClick="scroll('#section_features','70');" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_features', 'POSITION': 'header'}); F4__scroll_to_ID('#section_sale','90');">Features</a></li>
						<li><a href="javascript:void;" onClick="scroll('#section_code','70');" target="_self" onClick="mmixpanel.track('INTERACTION', {'ACTION': 'clicked_code', 'POSITION': 'header'}); F4__scroll_to_ID('#section_sale','90');">Learn to code</a></li>
						<li><a href="/become-an-ambassador.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_preorder', 'POSITION': 'header'});">Become an Ambassador</a></li>
					</ul>

					<a class="cta_preorder" href="javascript:void;" target="_self" onClick="scroll('#section_sale','70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_preorder', 'POSITION': 'header'});">Pre-Order Now</a>
					<a class="cta_newsletter" href="javascript:void;" onClick="modal_newsletter('open_overlay'); scroll('#section_sale','70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'header'});">Save $10</a>
				</div><!--//header -->
			</div><!--//section_header -->

			<div class="section_hero">
				<h1><br /><br /> Give her the advantage</h1>
				<p>The world's first programmable friendship bracelet.<br /> Get your kids coding today!</p><br /><br />
				 &nbsp; &nbsp; <div class="cta_video" onClick="javascript:modal_video('open_jewelbotspromo'); mixpanel.track('INTERACTION', {'ACTION': 'modal_video', 'POSITION': 'hero'});">Play Video</div> &nbsp; &nbsp; 
				<div class="cta_preorder" onClick="javascript:scroll('#section_sale', '70'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_preorder', 'POSITION': 'hero'});">Pre-order Now</div>
				<p class="small">
					Order yours now to<br />
					be part of the first shipment in 2016.
					<img class="arrow" src="assets/images/site_section_hero__arrow_down.png" />
				</p>
				<div class="press">
					<img class="stars" src="assets/images/index_section_hero__stars.png" />
					<a class="quote" href="http://www.wired.com/2015/07/somehow-teen-girls-get-coolest-wearable/" target="_blank">»The most interesting wearable I’ve seen this year«</a>
					<img class="quote" src="assets/images/index_section_hero__press_wired.png">
					<ul>
						<li><a href="http://www.forbes.com/sites/leoking/2015/07/31/tech-women-triumph-women-in-tech-jewelbots-ellen-pao-susan-wojcicki/" target="_blank"><img src="assets/images/index_section_hero__press_forbes.png" /></a></li><!--
					 --><li><a href="http://www.bustle.com/articles/97235-jewelbots-programmable-friendship-bracelets-are-designed-to-get-girls-coding-plus-4-other-toys-getting-girls" target="_blank"><img src="assets/images/index_section_hero__press_bustle.png" /></a></li><!--
					 --><li><a href="http://www.theverge.com/2015/7/23/9020083/jewelbots-programming-wearable-jewelry" target="_blank"><img src="assets/images/index_section_hero__press_theverge.png" /></a></li><!--
					 --><li><a href="http://www.psfk.com/2015/06/girls-coding-programmable-bracelets-inspire-girls-to-code.html" target="_blank"><img src="assets/images/index_section_hero__press_psfk.png" /></a></li><!--
					 --><li><a href="http://techcrunch.com/2015/07/13/jewelbots-is-a-friendship-bracelet-that-teaches-girls-how-to-code/" target="_blank"><img src="assets/images/index_section_hero__press_techcrunch.png" /></a></li><!--
					 --><li><a href="http://www.businessinsider.com/wearable-tech-is-all-the-rage-at-this-hackathon-for-girls-as-young-as-five-years-old-2015-6" target="_blank"><img src="assets/images/index_section_hero__press_businessinsider.png" /></a></li><!--
					 --><li><a href="http://www.brit.co/jewelbots-friendship-bracelet-future/" target="_blank"><img src="assets/images/index_section_hero__press_britco.png" /></a></li><!--
					 --><li><a href="http://www.glamour.com/fashion/blogs/dressed/2015/07/jewelbots-teaches-teen-girls-t" target="_blank"><img src="assets/images/index_section_hero__press_glamour.png" /></a></li><!--
					 --><li><a href="http://www.teenvogue.com/story/jewelbot-bracelet-code-education" target="_blank"><img src="assets/images/index_section_hero__press_teenvogue.png" /></a></li><!--
					 --><li><a href="http://finance.yahoo.com/news/startup-bets-wearable-will-solve-a-huge-problem-for-girls-145434164.html" target="_blank"><img src="assets/images/index_section_hero__press_yahoo.png" /></a></li><!--
					 --><li><a href="http://www.buzzfeed.com/nicolenguyen/hurry-up-and-exist-irl#.evylyjyx6" target="_blank"><img src="assets/images/index_section_hero__press_buzzfeed.png" /></a></li>
					</ul>
				</div>
				<!--<iframe id="hero_video_iframe" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
				<div class="background"></div>
			</div><!--//section_hero -->

			<div class="section_meet" id="section_meet">
				<h3>Meet Jewelbots</h3>
				<p>Jewelbots are more than just pretty jewelry, they are a powerful communication tool.</p>
				<img class="jewelbots" src="assets/images/index_section_meet__product_jewelbot_5.jpg" />
				<p>Kids can make their bracelets light up when a friend is nearby or send messages to a buddy across the room. They can come up with their own functionality and program their Jewelbot to behave in lots of cool ways! Jewelbots work alone, but are more fun with friends!</p>
				<ul>
					<li><img src="assets/images/index_section_meet__leds.png" /><p>4 powerful LEDs with 16.7mill colors</p></li><!--
					<li><img class="background" src="assets/images/index_section_meet__icon_background_1.png" /><img src="assets/images/index_section_meet__battery.png" /><p>Rechargeable with 2-3 days of battery life</p></li>
				 --><li><img src="assets/images/index_section_meet__battery.png" /><p>Rechargeable with 2-3 days of battery life</p></li><!--
				 --><li><img src="assets/images/index_section_meet__usb.png" /><p>Connects to your computer via USB 3.0</p></li><!--
				 --><li><img src="assets/images/index_section_meet__charms.png" /><p>Customizeable charms and bands</p></li><!--
				 --><li><img src="assets/images/index_section_meet__vibration.png" /><p>Programmable button and vibration motor</p></li><!--
				 --><li><img src="assets/images/index_section_meet__bluetooth.png" /><p>Build in Bluetooth 4.0</p></li><!--
				 --><li><img src="assets/images/index_section_meet__opensource.png" /><p>Open source technology using Arduino IDE</p></li><!--
				 --><li><img src="assets/images/index_section_meet__mesh.png" /><p>Multiple Jewelbots form a Mesh Network</p></li><!--
				 --><li><img src="assets/images/index_section_meet__app.png" /><p>iOS & Android compatible</p></li>
				</ul>
				<p><img src="assets/images/index_section_meet__spy_2.png" width="100" /><span class="safetynote">We are making a product for kids, and their safety is our number one priority. Jewelbots don’t contain a GPS and we don’t store any personal data of any kind.</span><br /><a class="specs" href="javascript:void;" onClick="javascript:index_section_specs('open');">See full specifications</a></p>
			</div><!--//section_meet -->
			<div class="section_specs" id="section_specs">
				<div class="left">
					<h4>Specifications</h4>
					<p class="note">* Final colors and specs may vary slightly.</p>

					<h5>What's Included</h5>
					<p>Every bracelet will ship with 3 different color bands, a Jewelbots charm and a charging cable:</p>
					<img class="band" src="assets/images/index_section_specs__band_1.png" />
					<img class="band" src="assets/images/index_section_specs__band_2.png" />
					<img class="band" src="assets/images/index_section_specs__band_3.png" />
					<img class="usb" src="assets/images/index_section_specs__usbcable.png" />

					<h5>Dimensions</h5>
					<p class="nopadding">32.5 x 32.5 x 14mm</p>

					<h5>Band</h5>
					<p class="nopadding">16mm wide and 230mm long</p>

					<h5>Sensors & Components</h5>
					<ul>
						<li><span>•</span>Vibration motor</li>
						<li><span>•</span>4x LEDs, 16.7mill colors</li>
						<li><span>•</span>Bluetooth 4.0</li>
					</ul>

					<h5>Batteries & Power</h5>
					<ul>
						<li><span>•</span>Battery life: up to 1-2 days</li>
						<li><span>•</span>Battery type: Lithium-polymer</li>
						<li><span>•</span>Charge time: 3-4 hours</li>
					</ul>

					<h5>Environmental Requirements</h5>
					<ul>
						<li><span>•</span>Operating temperature: 14° to 113° F</li>
					</ul>
				</div><!--//left -->
				<div class="right">
					<h5>Materials</h5>
					<ul>
						<li><span>•</span>Nylon Band</li>
						<li><span>•</span>Plastic Casing</li>
					</ul>

					<h5>Care</h5>
					<p>The Jewelbot nylon band can be washed by hand. The charms should be wiped with a wet cloth. The cases should only be wiped with a dry cloth.</p>

					<h5>Water Resitance</h5>
					<p>Jewelbots are splash resistant. Do not bath, shower or swim with your Jewelbot on.</p>

					<h5>Syncing & Bluetooth</h5>
					<p class="nopadding">Jewelbots sync wirelessly to tablets, iOS and Android smartphones using Bluetooth 4.0+ wireless technology.</p>
					<ul>
						<li><span>•</span>Syncing range: 20 feet</li>
						<li><span>•</span>Syncing to desktop computers requires a USB connection</li>
						<li><span>•</span>Syncing to mobile devices require Bluetooth 4.0+</li>
						<li><span>•</span>Syncs with iPhone 4S and later, iPad 3 gen. and later, and leading Android devices</li>
						<li><span>•</span>For Mac and Windows, we allow you to add code to your Jewelbot</li>
					</ul>
				</div><!--//right -->
				<img class="product" src="assets/images/index_section_specs__exploded.jpg" />
				<div class="clear"></div>
			</div><!--//section_specs -->
			<div class="section_features" id="section_features">
				<h3>Jewelbots Functionality</h3>
				<div class="outofthebox">
					<h4>Out of the box</h4>
					<ul>
						<li><img src="assets/images/index_section_features__detect.png" />Detect nearby friends<br /><span>(no phone required)</span></li><!--
					 --><li><img src="assets/images/index_section_features__messages.png" />Send secret messages</li>
					</ul>
				</div><!--
			 --><div class="powerofcoding">
					<h4>Through the power of coding</h4>
					<ul>
						<li><img src="assets/images/index_section_features__sms.png" />Send SMS/email</li><!--
					 --><li><img src="assets/images/index_section_features__social.png" />Social media integration</li><!--
					 --><li><img src="assets/images/index_section_features__weather.png" />Weather updates</li><!--
					 --><li><img src="assets/images/index_section_features__parents.png" />Notify parents</li><!--
					 --><li><img src="assets/images/index_section_features__drone.png" />Fly a drone</li><!--
					 --><li><img src="assets/images/index_section_features__imagine.png" />Whatever they imagine...!</li>
					</ul>
				</div>
				<p>Jewelbots are also open source, so for the curious tinkerer, they offer the perfect platform to explore what is possible with wearable technology communication. Using the Arduino IDE, girls can literally make the bracelets do whatever they dream up. Light up when they get a call on their phone, why not?</p>
			</div><!--//section_features -->
			<div class="section_code" id="section_code">
				<div class="topic topic_1">
					<div class="image"></div>
					<img class="iphone" src="assets/images/index_section_code__iphone.png" />
					<img class="iphone_app" src="assets/images/index_section_code__iphone_app.gif" />
					<div class="copy">
						<h3>Learn the Basics</h3>
						<p>Using basic if/then statements, kids begin to learn the fundamentals of computer science while engaging with their friends and expressing themselves. They can create friend-groups and decide how their Jewelbot lights up and vibrates when they are together. Once they get a hang of it, they can use the <strong>iOS + Android</strong> compatible app to write little mods such as have their Jewelbot light up when they get a new Instagram like. The mod possibilities are endless. And of course – Jewelbots basic functions can be used without a phone.</p>
					</div>
				</div><!--//topic_1 -->
				<div class="topic topic_2">
					<div class="image"></div>
					<div class="copy">
						<h3>Become a Master</h3>
						<p>Jewelbots are also open source, so for the curious tinkerer, they offer the perfect platform to explore what is possible with wearable technology communication. Using the <strong>Arduino IDE</strong>, girls can literally make the bracelets do whatever they dream up. Light up when they get a call on their phone, why not?<br/><br/><strong>Arduino</strong> is an open-source electronics platform based on easy-to-use hardware and software. It's intended for anyone making interactive projects</p>
					</div>
				</div><!--//topic_2 -->
				<div class="clear"></div>
			</div><!--//section_code -->
			<div class="section_newsletter">
				<h3>Join our email list and $10 off your first order.</h3>
				<script>mixpanel.track_forms(".mixpanel_section_newsletter", 	"NEWSLETTER", {"STEP": "submitted_email", "POSITION": "index_section"});</script>
				<form method="post" action="/subscribe" id="subscribe" role="form" name="mc-embedded-subscribe-form" class="validate mixpanel_section_newsletter">
					<div class="mc-field-group">
						<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="Leave your email!" onfocus="if(this.value==this.defaultValue)this.value=''; mixpanel.track('NEWSLETTER', {'STEP': 'typed_email', 'POSITION': 'index_section'});" onBlur="if(this.value=='')this.value=this.defaultValue;">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_ccc4b9448a982cacc6429f42f_c5c8a04f03" tabindex="-1" value=""></div>
					<input type="submit" value="Join + Save" name="subscribe" id="mc-embedded-subscribe" class="btn">
				</form>
				<p>Stay tuned to our updates and special offers!<br /> Oh, and you are going to get your discount code right away.</p>
			</div><!--//section_newsletter -->
			<div class="section_sale" id="section_sale">
				<h3>Pre-Order Now and Save</h3><!--
			 --><ul class="products">
					<li class="pack_1">
						<h5>JEWELBOT</h5>
						<img src="assets/images/index_section_sale__product_jewelbot_1pack.jpg" />
						<p class="list_price"><span>$79</span> List Price</p>
						<p>$59 Pre-Order</p>
						<a class="offer" href="javascript:void;" onClick="modal_newsletter('open_overlay'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'sales'});">sign up and save $10</a>
						<a class="cta_preorder mixpanel_1pack" href="http://jewelbots.myshopify.com/cart/4818647172:1" target="_blank">Add to cart</a>
					</li><!--
				 --><li class="pack_3" id="pack_3_swap">
						<h5 style="color: rgba(100,100,100,1.0);">BESTIE 3-PACK<br />incl. WEARABLES KIT</h5>
						<img src="assets/images/index_section_sale__product_jewelbot_3pack_wk.jpg" />
						<p class="list_price"><span>$159</span> List Price</p>
						<p>$119 Pre-Order</p>
						<a class="offer" href="javascript:void;" onClick="modal_newsletter('open_overlay'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'sales'});">sign up and save $10</a>
						<a class="cta_preorder mixpanel_3pack" href="http://jewelbots.myshopify.com/cart/12045228868:1" target="_blank">Add to cart</a>
					</li><!--
				 --><li class="pack_2">
						<h5>TWINNIE 2-PACK</h5>
						<img src="assets/images/index_section_sale__product_jewelbot_2pack.jpg" />
						<p class="list_price"><span>$119</span> List Price</p>
						<p>$89 Pre-Order</p>
						<a class="offer" href="javascript:void;" onClick="modal_newsletter('open_overlay'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'sales'});">sign up and save $10</a>
						<a class="cta_preorder mixpanel_2pack" href="http://jewelbots.myshopify.com/cart/4818676612:1" target="_blank">Add to cart</a>
						<script>
							mixpanel.track_links('.mixpanel_1pack', 'SALES', {'PRODUCT': 'jewelbot_1pack'}); mixpanel.track_links('.mixpanel_1pack', 'SALES', {'ACTION': 'added_to_cart'});
							mixpanel.track_links('.mixpanel_2pack', 'SALES', {'PRODUCT': 'jewelbot_2pack'}); mixpanel.track_links('.mixpanel_2pack', 'SALES', {'ACTION': 'added_to_cart'});
							mixpanel.track_links('.mixpanel_3pack', 'SALES', {'PRODUCT': 'jewelbot_3pack'}); mixpanel.track_links('.mixpanel_3pack', 'SALES', {'ACTION': 'added_to_cart'});
						</script>
					</li>
				</ul><!--
			 --><div class="clear"></div>
		</div><!--//section_sale -->
			<div class="section_wearableskit">
				<div class="line">&nbsp;</div>
				<p class="note">Pre-Order a <strong>3-Pack</strong> and get a free <strong>Jewelbots Wearables Kit now.</strong><br />Kit usually ships within 1-2 days after you order so you can start right away.</p>
				<div class="line">&nbsp;</div>
				<div class="box">
					<img class="product" src="assets/images/index_section_wearableskit__wearableskit.jpg" />
					<div class="left">
						<h3>Jewelbots Wearables Kit (1.0)</h3>
						<p>The Jewelbots Wearable Kit is a DIY kit, custom designed by the Jewelbots team to give you and a special kid an activity to do together. Pick an item of clothing, sew in LED lights, and program them to light up in fun patterns. Using these kits, you can make all kinds of cool projects right away, all while getting a jumpstart on coding using the Arduino IDE, the same environment you will use to code your Jewelbots!</p>
						<p class="list_price"><span>$159</span> List Price</p>
						<p class="offer_price">$119 Pre-Order</p>
						<a class="offer" href="javascript:void;" onClick="modal_newsletter('open_overlay'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_safe', 'POSITION': 'sales'});">sign up and save $10</a>
						<!--<a class="cta_buy mixpanel_wk" href="https://jewelbots.myshopify.com/cart/12183934404:1?channel=buy_button" target="_blank">Buy Individually</a>-->
						<a class="cta_buy mixpanel_3pack" href="http://jewelbots.myshopify.com/cart/12045228868:1" target="_blank">Add to cart</a>
						<script>
							mixpanel.track_links('.mixpanel_wk', 'SALES', {'PRODUCT': 'wearables_kit'}); mixpanel.track_links('.mixpanel_wk', 'SALES', {'ACTION': 'added_to_cart'});
						</script>
					</div>
					<div class="right">
						<h6>What's in the Kit:</h6>
						<ul>
							<li><span>•</span>1x Arduino Gemma</li>
							<li><span>•</span>2x Batteries (Type 2032)</li>
							<li><span>•</span>1x Roll of Conductive Thread</li>
							<li><span>•</span>5x Blue LED Squins</li>
							<li><span>•</span>1x Battery Holder</li>
							<li><span>•</span>1x Set of Neddles</li>
						</ul>
					</div>
				</div>
				<ul class="info">
					<li><img src="assets/images/index_section_sale__delivery_jb.png" /><p>Jewelbots Estimated Ship Date: Spring 2016</p></li>
					<li><img src="assets/images/index_section_sale__refund.png" /><p>Full Refund as long as order has not shipped</p></li>
					<li><img src="assets/images/index_section_sale__delivery_wk.png" /><p>Wearables Kits ship within 1-2 days</p></li>
				</ul>
				<p class="notepresale">
					<span class="special">Each 3-Pack pre-order includes our programmable Jewelbot Wearables Kit 1.0.</span>
					<span><strong>This is a pre-order.</strong> Product aims to ship by Spring 2016. Shipping timelines are estimates.</span><br />
					Actual design of charm and bands may vary slightly. Every bracelet will ship with 3 different color bands.<br />
					Actual colors may differ. <strong>Because this is a pre-order, you are eligible for a full refund</strong> at any time before your merchandise ships.
				</p>
			</div><!--//section_wearableskit -->
			<div class="section_video">
				<div class="background">&nbsp;</div>
				<h3>Bill Nye says AWESOME!</h3>
				<div class="cta_video" onClick="javascript:scroll('#site_container','50'); modal_video('open_billnyepromo'); mixpanel.track('INTERACTION', {'ACTION': 'clicked_video_BillNye', 'POSITION': 'section_video'});">Play Video</div>
				<p>During our Kickstarter-Campaign, Bill Nye took the time to look at Jewelbots.<br /> See what he has to say about Jewelbots.</p>
			</div><!--//section_video -->
			<div class="section_press">
				<img class="stars" src="assets/images/index_section_press__stars.png" />
				<a class="quote" href="http://www.wired.com/2015/07/somehow-teen-girls-get-coolest-wearable/" target="_blank">»The most interesting wearable I’ve seen this year«</a>
				<img class="quote" src="assets/images/index_section_press__wired.png">
				<ul>
					<li><a href="http://www.forbes.com/sites/leoking/2015/07/31/tech-women-triumph-women-in-tech-jewelbots-ellen-pao-susan-wojcicki/" target="_blank"><img src="assets/images/index_section_press__forbes.png" /></a></li><!--
				 --><li><a href="http://www.bustle.com/articles/97235-jewelbots-programmable-friendship-bracelets-are-designed-to-get-girls-coding-plus-4-other-toys-getting-girls" target="_blank"><img src="assets/images/index_section_press__bustle.png" /></a></li><!--
				 --><li><a href="http://www.theverge.com/2015/7/23/9020083/jewelbots-programming-wearable-jewelry" target="_blank"><img src="assets/images/index_section_press__theverge.png" /></a></li><!--
				 --><li><a href="http://www.psfk.com/2015/06/girls-coding-programmable-bracelets-inspire-girls-to-code.html" target="_blank"><img src="assets/images/index_section_press__psfk.png" /></a></li><!--
				 --><li><a href="http://techcrunch.com/2015/07/13/jewelbots-is-a-friendship-bracelet-that-teaches-girls-how-to-code/" target="_blank"><img src="assets/images/index_section_press__techcrunch.png" /></a></li><!--
				 --><li><a href="http://www.businessinsider.com/wearable-tech-is-all-the-rage-at-this-hackathon-for-girls-as-young-as-five-years-old-2015-6" target="_blank"><img src="assets/images/index_section_press__businessinsider.png" /></a></li><!--
				 --><li><a href="http://www.brit.co/jewelbots-friendship-bracelet-future/" target="_blank"><img src="assets/images/index_section_press__britco.png" /></a></li><!--
				 --><li><a href="http://www.glamour.com/fashion/blogs/dressed/2015/07/jewelbots-teaches-teen-girls-t" target="_blank"><img src="assets/images/index_section_press__glamour.png" /></a></li><!--
				 --><li><a href="http://www.teenvogue.com/story/jewelbot-bracelet-code-education" target="_blank"><img src="assets/images/index_section_press__teenvogue.png" /></a></li><!--
				 --><li><a href="http://finance.yahoo.com/news/startup-bets-wearable-will-solve-a-huge-problem-for-girls-145434164.html" target="_blank"><img src="assets/images/index_section_press__yahoo.png" /></a></li><!--
				 --><li><a href="http://www.buzzfeed.com/nicolenguyen/hurry-up-and-exist-irl#.evylyjyx6" target="_blank"><img src="assets/images/index_section_press__buzzfeed.png" /></a></li>
				</ul>
			</div><!--//section_press -->
			<div class="section_mood">
			</div><!--//section_mood -->
			<div class="section_footer">
				<img class="logo" src="assets/images/site_section_footer__logo.png" />
				<ul class="navigation">
					<!--<li><a href="/faqs.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_faqs', 'POSITION': 'footer'});">Help</a></li>-->
					<li><a href="/about.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_about', 'POSITION': 'footer'});">Story</a></li>
					<!--<<li><a href="/team.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_team', 'POSITION': 'footer'});">Team</a></li>-->
					<li><a href="http://jewelbots.tumblr.com/" target="_blank" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_blog', 'POSITION': 'footer'});">Blog</a></li>
					<li><a href="/jobs.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_jobs', 'POSITION': 'footer'});">Jobs</a></li>
					<li><a href="/intro-to-wearables-kit.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_introwk', 'POSITION': 'footer'});">Wearables</a></li>
					<li><a href="/become-an-ambassador.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_ambassador', 'POSITION': 'footer'});">Ambassador</a></li>
					<!--<<li><a href="/media_kit.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_mediakit', 'POSITION': 'footer'});">Media Kit</a></li>-->
					<li><a href="/privacy.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_privacy', 'POSITION': 'footer'});">Privacy</a></li>
					<!--<<li><a href="/terms.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_terms', 'POSITION': 'footer'});">Terms</a></li><br />-->
					<li><a href="/contact.html" target="_self" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_contact', 'POSITION': 'footer'});">Contact</a></li>
				</ul>
				<p class="address">
					50 Eldridge Street, 5th Floor, New York, NY 10002<br />
					<a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a><br />
					(862) 201-3065<br />
				</p>
				<p class="credits">
					Jewelbots © 2015 &nbsp; | &nbsp; Made with love in NYC &nbsp; | &nbsp; Changing the world one Jewelbot at a time
				</p>
				<a class="mxp-interaction_action_clicked_section_footer_mxp" href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
			</div><!--//section_footer -->

		</div><!--//content_container -->
	</div><!--//site_container -->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ assetPath "js/site-scripts.js" }}"></script>
	<!-- GOOGLE  ⬇ -->
	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62323216-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- GOOGLE  ⬆ -->
	<!-- A/B TESTS  ⬇ -->
	<script type="text/javascript">
		$(function() {
			var test = "";
			var test_id = 1 % Math.ceil(2 * Math.random());
		//	if(var page_source=="newsletter_welcome"){
				
		//	} else {
		//		if (test_id) {
		//			mixpanel.track("AB Tests", {"VERSION": "A", "TESTED": "AB10 - modal/fixed" });
				//	$('.test_A').css('display', 'block');
				//	$('.test_B').css('display', 'none');

				//	$('.test_A').css('opacity', '1.0');
				//	$('.test_B').css('opacity', '0.0');
			//		modal_newsletter('open_overlay_news');
		//		} else {
		//			mixpanel.track("AB Tests", {"VERSION": "B", "TESTED": "AB10 - modal/fixed" });
				//	$('.test_A').css('display', 'none');
				//	$('.test_B').css('display', 'block');

				//	$('.test_A').css('opacity', '0.0');
				//	$('.test_B').css('opacity', '1.0');
					modal_newsletter('open_overlay_news');
			//	}
		//	}
		});
	</script>
	<!-- A/B TESTS  ⬆ -->
	<!-- RUN  ⬇ -->
	<script type="text/javascript">
		$(window).resize(function(){
			modal_video('size');
			index_section_sales('swap_3pack');
		});
	</script>
	<!-- RUN  ⬆ -->
	<!-- ADROLL  ⬇ -->
	<script type="text/javascript">
	    adroll_adv_id = "P27U42Q3XBE6ZCSRCWXVAR";
	    adroll_pix_id = "UVVRJMOBUZCFBECOB6ZDVH";
	    /* OPTIONAL: provide email to improve user identification */
	    /* adroll_email = "username@example.com"; */
	    (function () {
	        var _onload = function(){
	            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
	            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
	            var scr = document.createElement("script");
	            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
	            scr.setAttribute('async', 'true');
	            scr.type = "text/javascript";
	            scr.src = host + "/j/roundtrip.js";
	            ((document.getElementsByTagName('head') || [null])[0] ||
	                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
	        };
	        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
	        else {window.attachEvent('onload', _onload)}
	    }());
	</script>
	<!-- ADROLL  ⬆ -->
</body>
</html>
