<!DOCTYPE html>
<html>
	<head>
		<title>Jewelbots – The World's first programmable friendship bracelet.</title>
		<meta name="description" content="Jewelbots are the first of its kind, an open source wearable device where kids dictate the functionality." />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>
		You are being redirected to: <a href="https://shop.jewelbots.com">https://shop.jewelbots.com</a>
		<script>
			//
			//
			//-- 1) - get all possible URL variables
			function getUrlVars() {var vars = {};var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {vars[key] = value;}); return vars;}
			var utm_campaign = getUrlVars()["utm_campaign"];
			var utm_medium   = getUrlVars()["utm_medium"];
			var utm_source   = getUrlVars()["utm_source"];
			//
			//
			// JavaScript code to redirect a URL
			if(utm_campaign != null || utm_medium != null || utm_source != null){
				window.location.replace('https://shop.jewelbots.com/?utm_campaign='+utm_campaign+'&utm_medium='+utm_medium+'&utm_source='+utm_source);
			} else {
				window.location.replace('https://shop.jewelbots.com');
			}
		</script>
	</body>
</html>