<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Jewelbots Kickstarter - The friendship-bracelet for the iPhone era</title>
	<meta name="description" lang="en" content="We love to hear from you." />
	<meta name="keywords" lang="en" content="jewelbots, jewliebot, contact, nyc" />

	<!--
	***********************************************************************************************************

		www.jewelbots.com
		v.0.9
                                _ _           _       
           (♥) _____      _____| | |__   ___ | |_ ___ 
           | |/ _ \ \ /\ / / _ \ | '_ \ / _ \| __/ __|
           | |  __/\ V  V /  __/ | |_) | (_) | |_\__ \
          _/ |\___| \_/\_/ \___|_|_.__/ \___/ \__|___/
         |__/

	***********************************************************************************************************
	-->

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="15" />
	<meta name="google-site-verification" content="WkWMC2U0n_lT3U1t_-PhLM0CGoeS25ux-D6LGOwu8Fg" />

	<link rel="shortcut icon" href="favicon.ico" />
    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style-reset.css" }}" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ assetPath "css/style.css" }}" media="screen, projection"> 	

<script type="text/javascript" src="{{ assetPath "js/share.min.js" }}"></script>
	

	</head>

	<body>
					<marquee class="marquee"><span>Thank you for sharing.</span></marquee>
		<div class="share-button"></div>

	</body>
	<script>
		config = {
			url : "http://jewelbots.com/kickstarter",
			title : "Jewelbots, the Kickstarter!",
			description : "Jewelbots, smart friendship bracelets that teach girls to code",
			image : "http://www.jewelbots.com/assets/images/section_opensource_image_desktop.jpg"
		}
		new Share(".share-button", config);
	</script>
	<style>
		html{
			background-color: #330066
		}
		.share-button {
       position: fixed; /* or absolute */
       top: 50%;
       left: 45%;
		 }
		 .marquee{
				height: 400px;
			  padding-top: 50px;
				position: fixed;
				color: white;
				font-family: "Comic Sans MS", "Comic Sans", cursive;
				font-size: 60pt;
			}
			.marquee span{
							    text-shadow: 2px 2px #ff0000;
			}
</html>
